.ct-header {
    width: 100%;
    background-color: antiquewhite;
    padding-left: 130px;
    display: inline-flex;

    &__col {
        padding: 10px 0 10px 15px;
        border-right: 1px solid black;

        &__bottom {
            display: grid;
            grid-template-rows: 1fr;
            background-color: yellow;

            &__item {
                padding: 5px 10px 0 10px;
                border-right: 1px solid black;
                grid-row: 1 / 2;

                &:last-of-type {
                    border-right: none;
                }
            }
        }
    }
}
