.ct-header {
    width: 100%;
    background-color: antiquewhite;
    padding-left: 130px;

    &__main {
        display: inline-flex;
        width: 100%;

        &__item {
            padding: 10px 15px;
            border-right: 1px solid black;
        }
    }

    &__sub {
        width: 100%;
    }
}
